**/*.iml
.idea
target
dependency-reduced-pom.xml

.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
*.lnk
*.launch
*.bat
=======
**/*.iml
.idea
target
dependency-reduced-pom.xml

.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
*.lnk
*.launch
*.bat

